.imgSlide {
    animation: slide 10s linear infinite;
    height: 200px;
}
.delete-burger, .devour-burger {
    width: 92px
}
.slide {
    animation: slide 10s linear infinite;
    float: left;
    border: dotted;
}
.jumbotron {
    margin: 0px;
    background-image: url(../img/road.jpg);
    background-size: contain;
    overflow: hidden;
    background-repeat-y: no-repeat;
    background-color: darkgray
}
.row{
    margin: 0px
}
.add {
    text-align: center;
    border: solid;
    background-image: url(../img/road.jpg);
    background-position-y: bottom;
}
ul {
    padding: 0px;
}
@keyframes slide{
    0%{
      transform: translate3d(-900px, 0, 0);
    }
    100%{
      transform: translate3d(1300px, 0, 0);
    }
}
.eat, .eaten {
    border: solid
}
.holder {
width: fit-content;
margin: auto;
background-color: white;
border: solid;
}
@media screen and (max-width: 400px) {
.jumbotron {
    padding: 0px
}
}
@media screen and (max-width: 509px) {
h1, h2, h3 {
    font-size: 24px
}
.col-5, .col-7 {
    padding: 0px
}
.imgSlide {
    animation: slide 10s linear infinite;
    height: 150px;
}
.slide {
    animation: slide 10s linear infinite;
}
@keyframes slide{
    0%{
      transform: translate3d(-500px, 0, 0);
    }
    100%{
      transform: translate3d(500px, 0, 0);
    }
}
}
@media screen and (min-width: 1300px) {
    .imgSlide {
        animation: slide 10s linear infinite;
        height: 250px;
    }
    .slide {
        animation: slide 10s linear infinite;
    }
    @keyframes slide{
        0%{
          transform: translate3d(-500px, 0, 0);
        }
        100%{
          transform: translate3d(1900px, 0, 0);
        }
    }
}